%form{method: "POST", action:"#{url_for("/admin/#{model.class.to_s.downcase}/#{model.id}")}"}
  -model.editable_attributes.each do |k,v|
    .field
      =k
    %input{type:"text", name:"#{k}", value: "#{v}"}
  .submit
    %input{type:"Submit", value:"Submit"}
