.artist
  =artist.name
.albums
  -artist.albums.to_a.select{|album| artist.tracks.size > 0}.each do |album|
    %a.item{href: "#{url_for("/album/#{album.id}")}"}
      %img.artist{title: "#{album.title}", src: "/images/#{album.image_path}"}

.edit
  %a.item{href: "#{url_for("/admin/artist/#{artist.id}")}"}
    Edit
  
