.artist
  =artist.name
.albums
  -artist.albums.each do |album|
    %a.item{href: "#{url_for("/album/#{album.id}")}"}
      %img{title: "#{album.title}", src: "/images/#{album.image_path}"}

.edit
  %a.item{href: "#{url_for("/admin/artist/#{artist.id}")}"}
    Edit
  
