-artists.to_a.select{|artist| artist.albums.size > 0}.each do |artist|
  %a.item{href: "#{url_for "/artist/#{artist.id}"}"}
    %img.artist{title: "#{artist.name}", src: "#{url_for "/images/artists/#{artist.image_path}"}"}
  
