%table.table
  %thead
    %th
      Title (id)
    %th
      Artist (id)
    %th
      Album (id)
  %tbody
    -tracks.each do |track|
      %tr
        %td
          %a{href: "#{url_for("/admin/track/#{track.id}")}"}
            #{track.title} (#{track.id})
        %td
          -unless track.album.nil? || track.album.artist.nil?
            %a{href: "#{url_for("/artist/#{track.album.artist.id}")}"}
              #{track.album.artist.name} (#{track.album.artist.id})
        %td
          -unless track.album.nil?
            %a{href: "#{url_for("/album/#{track.album.id}")}"}
              #{track.album.title} (#{track.album.id})
:javascript
  $('#search').prop('action', "#{url_for('/tracks')}");
  $('.navbar-info').html("#{tracks.count} tracks");
  $(document).ready(function() {
    $('#q').autocomplete('disable');
  });
