.link
  %a{href: "#{url_for("/artist/#{model.artist.id}")}"}
    =model.artist.name
.link
  %a{href: "#{url_for("/#{model.class.to_s.downcase}/#{model.id}")}"}
    =model.to_s
.row
  %form.model
    -model.editable_attributes.each do |k,v|
      .input-group.input-group-lg
        %span.input-group-addon
          =k
        %input.form-control{type:"text", name:"#{k}", value: "#{v}", onFocus: "this.dirty=false", onChange: "this.dirty = true", onBlur: "if(this.dirty) {update_model(#{model.id})}"} 
    .submit
      %input.btn.btn-default.btn-lg{type:"Submit", value:"Submit"}
.row
  %img{src: "#{url_for("/images/albums/#{model.image_path}")}"}
.row
  %form.imageform
    .input-group.input-group-lg
      %span.input-group-addon
        Image Url
      %input.form-control{type:"text", name:"image_url"}
    .input-group.input-group-lg
      %span.input-group-addon
        Image Name
      %input.form-control{type:"text", name:"image_name", value: "#{model.image_path}", onFocus: "this.dirty=false", onChange: "this.dirty = true", onBlur: "if(this.dirty) {save_image(#{model.id})}"} 
.row.sp-top-sm.no-pad
  .col-md-1
    TrackNum
  .col-md-6
    Title
-model.tracks.each do |track|
  %form{class: "trackform#{track.id}"}
    .row.no-pad
      .col-md-1
        %input.col-md-4.form-control{type: 'text', name: 'track_number', value: "#{track.track_number}" , onFocus: "this.dirty=false", onChange: "this.dirty = true", onBlur: "if(this.dirty) {save_track(#{track.id})}"}
      .col-md-6
        %input.form-control{type: 'text', name: 'title', value: "#{track.title}", onFocus: "this.dirty=false;", onChange: "this.dirty = true", onBlur: "if(this.dirty) {save_track(#{track.id})}"}
:javascript
  keypress_disable=true;
  function save_track(id) {
    var form= $(".trackform" + id);
    var url = "#{url_for('/admin/track/')}" + id; 
    return post(form, url);
  }

  function save_image(id) {
    var form= $(".imageform");
    var url = "#{url_for('/admin/album/')}" + id + "/image";
    return post(form, url);
  }

  function update_model(id) {
    var form=$(".model");
    var url = "#{url_for('/admin/album/')}" + id;
    return post(form, url);
  }

  function post(form, url) {
    $.ajax( {
        url: url,
        data: form.serialize(), 
        method: 'post',
    })
    .done(function(msg) {
    });
  }
                  
