-if !model.album.nil?
  %a{href: "#{url_for("/album/#{model.album.id}")}"}
    =model.album.title
%form{method: "POST", action:"#{url_for("/admin/#{model.class.to_s.downcase}/#{model.id}")}"}
  -model.editable_attributes.each do |k,v|
    .input-group.input-group-lg
      %span.input-group-addon
        =k
      %input.form-control{type:"text", name:"#{k}", value: "#{v}"}
  .submit
    %input.btn.btn-default.btn-lg{type:"Submit", value:"Submit"}
:javascript
  keypress_disable=true;
