%a{href: "#{url_for("/#{model.class.to_s.downcase}/#{model.id}")}"}
  =model.to_s
%form{method: "POST", action:"#{url_for("/admin/#{model.class.to_s.downcase}/#{model.id}")}"}
  -model.editable_attributes.each do |k,v|
    .input-group.input-group-lg
      %span.input-group-addon
        =k
      %input.form-control{type:"text", name:"#{k}", value: "#{v}"}
  .input-group.input-group-lg
    %span.input-group-addon
      add track
    %input.form-control{type:"text", name:"track_name", id:"track"}
  .submit
    %input.btn.btn-default.btn-lg{type:"Submit", value:"Submit"}
%img{src: "#{url_for("/images/#{model.image_path}")}"}
%form{method: "POST", action:"#{url_for("/admin/#{model.class.to_s.downcase}/#{model.id}/image")}"}
  .input-group.input-group-lg
    %span.input-group-addon
      Image Url
    %input.form-control{type:"text", name:"image_url"}
  .input-group.input-group-lg
    %span.input-group-addon
      Image Name
    %input.form-control{type:"text", name:"image_name", value: "#{model.image_path}"}
  .input-group.input-group-lg
    %input.btn.btn-default.btn-lg{type:"Submit", value:"Submit"}
.tracks
  -model.playlist_tracks.each do |playlist_track|
    .input-group.input-group-lg
      %span.input-group-addon
        &nbsp;
      %span.form-control
        #{playlist_track.track.title}
:javascript
  keypress_disable=true;
  $('#track').autocomplete({
    serviceUrl: '#{url_for "/searchtracks"}',
    paramName: 'q',
    minChars: 1,
    lookupLimit: 50,
    autoSelectFirst: true,
  });
