-if track.favorited?(current_user)
  %a{id: "fave_track_#{track.id}", title: "meh #{track.title}", onClick: "javascript:unfavorite_track('#{track.id}')"}
    .glyphicon.glyphicon-heart
  %a.hidden{id: "unfave_track_#{track.id}", title: "!!! #{track.title}", onClick: "javascript:favorite_track('#{track.id}')"}
    .glyphicon.glyphicon-heart-empty
-else
  %a.hidden{id: "fave_track_#{track.id}", title: "meh #{track.title}", onClick: "javascript:unfavorite_track('#{track.id}')"}
    .glyphicon.glyphicon-heart
  %a{id: "unfave_track_#{track.id}", title: "!!! #{track.title}", onClick: "javascript:favorite_track('#{track.id}')"}
    .glyphicon.glyphicon-heart-empty
