-url = admin == true ? "/admin/playlist/#{playlist.id}" : "/playlist/#{playlist.id}"
%a.item{href: "#{url_for url}"}
  %img.item{title: "#{playlist.name}", src: "#{url_for "/images/albums/sm/#{playlist.image_path}"}"}
