.track
  .play-now
    %a{onClick: "enqueueTrack(#{track.to_json})"}
      &#9655;
  .title 
    -if show_track_number
      ="#{track.track_number}. "
    =track.title
    -if show_artist and track.artist
      %a.sp.link{href: "#{url_for("/artist/#{track.artist.id}")}"}
        ="(#{track.artist.name})"
    -if show_album and track.album
      %a.sp.link{href: "#{url_for("/album/#{track.album.id}")}"}
        =track.album.title
    =track.duration
