//=haml :"partials/visualizer"
.grid
  .twocol
    .col
      %img.fit-image{src: url_for("#{ENV["BEMUSED_DEV_PATH"]}/images/albums/#{album.image}")}
    .album-info
      .title
        %a{data: {"internal": "true"}, href: url_for("/album/#{album.id}")} 
          =album.title
      .artist
        %a{data: {"internal": "true"}, href: url_for("/artist/#{album.artist.id}")} 
          =album.artist.name
      .controls
        .btn
          %input{type: "button", value: "Play Now", onclick: "enqueueAlbum([#{album.playlist(current_user)}], false, true)"}
        .btn
          %input{type: "button", value: "Play Next", onclick: "enqueueAlbum([#{album.playlist(current_user)}], true, false)"}
        .btn
          %input{type: "button", value: "Add to Queue", onclick: "enqueueAlbum([#{album.playlist(current_user)}], false, false)"}
      !=haml :"partials/player", layout: !request.xhr?, locals: { admin_url: "#{url_for("/admin/album/#{album.id}")}" }
      .summary#album_summary
        =summary['summary']
        -if summary['url']
          %a{target: "_", href:"#{summary['url']}"}
            \...more at wikipedia
      .summary#track_summary
  .tracks
    -album.tracks.sort_by{ |t| t.track_number.to_i }.each do |track|
      !=haml :"partials/track", locals: {track: track, show_track_number: true, show_album: false, show_artist: false}
