.row
  .col-sm-5
    -if current_user
      .favorites
        =haml :"partials/favorites", locals: { tracks: order_tracks(album.tracks) }
    .player
      =haml :"partials/player", locals: { admin_url: "#{url_for("/admin/album/#{album.id}")}" }
    =haml :"partials/visualizer"
  .col-sm-7
    %img.image-responsive.fit-image{src: url_for("/images/albums/#{album.image}")}
    .summary#track_summary
    .summary#album_summary
.row
//-if current_user
//  .row
//    .col-xs-12.col.md-offset-2.col.md-7.sp-top-sm.favorites#favorites

:javascript
    var myPlaylist;

    function album_summary(data) {
      $('#album_summary').append(data.summary);
      $('#album_summary').append("  <a target='_' href='" + data.url + "'>…more at wikipedia</a>");
    }

    function track_summary(data) {
      $('#track_summary').empty();
      $('#track_summary').append(data.summary);
      $('#track_summary').append("  <a target='_' href='" + data.url + "'>…more at wikipedia</a>");
    }

    function get_id(str) {
      return str.substring(str.lastIndexOf('/'));
    }

    $(document).ready(function() {
      document.title = "#{album.title}";
      myPlaylist = new jPlayerPlaylist({
        jPlayer: "#jquery_jplayer_1",
        cssSelectorAncestor: "#jp_container_1"
      },
      [
        #{ album.playlist }
      ],
      {
        swfPath: "http://patf.net/js",
        supplied: "mp3",
        wmode: "window"
      });
    });

    $("#jquery_jplayer_1").bind($.jPlayer.event.play, function (event) {
        var current = myPlaylist.current,
            playlist = myPlaylist.playlist;
        $.each(playlist, function (index, obj) {
            if (index == current) {
              if(!scrubbing) {
                $.ajax({type: "GET", url: obj.mp3.replace("stream","log")});
                get_summary("#{url_for("/track")}" + get_id(obj.mp3) + '/summary', track_summary, "track_summary_available", "#track_summary");
                notify(obj);
              }
              $('.navbar-info').html("                                   \
                <a href='#{url_for("/artist/#{album.artist.id}")}' title='#{album.artist.name}'>      \
                  <span class='artist-title'>#{shorten album.artist.name, 20}</span> \
                </a>>                                                    \
                <a href='#{url_for("/album/#{album.id}")}' title='#{album.title}'>      \
                  <span class='album-title'>#{shorten album.title, 20}</span>        \
                </a>>                                                    \
                <span class='track-title'>" + obj.title + "</span>");
               $(document).prop("title", obj.title);
            }
        });
    });

    $(document).ready(function() {
      $('.navbar-info').html("                        \
        <a href='#{url_for("/artist/#{album.artist.id}")}' title='#{album.artist.name}'>      \
          <span class='artist-title'>#{shorten album.artist.name, 30}</span> \
        </a>>                                                    \
        <a href='#{url_for("/album/#{album.id}")}' title='#{album.title}'>      \
          <span class='album-title'>#{shorten album.title, 30}</span> \
        </a>");
      get_summary("#{url_for("/album/#{album.id}/summary")}", album_summary, "album_summary_available", "#album_summary");
    });


