.row
  .col-xs-12.col-md-offset-2.col-sm-6.col-lg-4.sp-top-sm#player
    =haml :"partials/player", locals: { admin_url: "#{url_for("/admin/album/#{album.id}")}" }
.row
  .col-xs-12.col-md-offset-2.col-sm-6.col-lg-4.sp-top-sm
    =haml :"partials/visualizer"
.row
  .col-xs-12.col-md-offset-2.col-md-7.sp-top-sm#summary

:javascript
    document.getElementById("image").style.background="url('#{url_for "/images/albums/" + (album.image || "")}')";
    document.getElementById("image").style.backgroundPosition="center";
    document.getElementById("image").style.backgroundSize="contain";
    document.getElementById("image").style.backgroundRepeat="no-repeat";
    //document.getElementById("content").style.minHeight="900px";

    var myPlaylist;
    var summary_available=true;
    $(document).ready(function() {
      document.title = "#{album.title}";
      myPlaylist = new jPlayerPlaylist({
        jPlayer: "#jquery_jplayer_1",
        cssSelectorAncestor: "#jp_container_1"
      },
      [
        #{ album.playlist }
      ],
      {
        swfPath: "http://patf.net/js",
        supplied: "mp3",
        wmode: "window"
      });
    });

    $("#jquery_jplayer_1").bind($.jPlayer.event.play, function (event) {
        var current = myPlaylist.current,
            playlist = myPlaylist.playlist;
        $.each(playlist, function (index, obj) {
            if (index == current) {
              if(!scrubbing) {
                $.ajax({type: "GET", url: obj.mp3.replace("stream","log")});
              }
              $('.navbar-info').html("                                   \
                <a href='#{url_for("/admin/artist/#{album.artist.id}")}' title='#{album.artist.name}'>      \
                  <span class='artist-title'>#{shorten album.artist.name, 20}</span> \
                </a>>                                                    \
                <a href='#{url_for("/album/#{album.id}")}' title='#{album.title}'>      \
                  <span class='album-title'>#{shorten album.title, 20}</span>        \
                </a>>                                                    \
                <span class='track-title'>" + obj.title + "</span>");
               $(document).prop("title", obj.title);
            }
        });
    });

    $(document).ready(function() {
      $('.navbar-info').html("                        \
        <a href='#{url_for("/admin/artist/#{album.artist.id}")}' title='#{album.artist.name}'>      \
          <span class='artist-title'>#{shorten album.artist.name, 20}</span> \
        </a>>                                                    \
        <a href='#{url_for("/album/#{album.id}")}' title='#{album.title}'>      \
          <span class='album-title'>#{shorten album.title, 20}</span> \
        </a>");
      get_summary("#{url_for("/album/#{album.id}/summary")}");
    });


