.albums
  %a.item{href: "#{url_for("/artist/#{artist.id}")}"}
    %img.artist{title: "#{artist.name}", src: "#{url_for "https://patf.com/images/artists/#{artist.image_path}"}"}
  -artist.albums.each do |album|
    %a.item{href: "#{url_for("/album/#{album.id}")}"}
      %img.artist{title: "#{album.title}", src: "#{url_for("https://patf.com/images/#{album.image_path}")}"}

.edit
  %a.item{href: "#{url_for("/admin/artist/#{artist.id}")}"}
    Edit
:javascript
  keypress_disable=true;
  $(document).attr("title", "#{artist.name}");
  $('.navbar-info').html("<span class='artist-title'>#{artist.name}</span>");
  var container = document.querySelector('.albums');
  var msnry = new Masonry( container, {
    // options
    columnWidth: 200,
    itemSelector: '.item'
  });
  imagesLoaded(container, function() {
    msnry.layout();
  });
