.artist
  =artist.name
.albums
  -artist.albums.to_a.select{|album| album.tracks.size > 0}.each do |album|
    %a.item{href: "#{url_for("/album/#{album.id}")}"}
      %img.artist{title: "#{album.title}", src: "https://patf.com/images/#{album.image_path}"}

.edit
  %a.item{href: "#{url_for("/admin/artist/#{artist.id}")}"}
    Edit
:javascript
  var container = document.querySelector('.albums');
  var msnry = new Masonry( container, {
    // options
    columnWidth: 200,
    itemSelector: '.item'
  });
  imagesLoaded(container, function() {
    msnry.layout();
  });
