.artist
  =artist.name
  %img.artist{title: "#{artist.name}", src: "#{url_for "/images/artists/#{artist.image_path}"}"}
.albums
  -artist.albums.each do |album|
    %a.item{href: "#{url_for("/album/#{album.id}")}"}
      %img.artist{title: "#{album.title}", src: "#{url_for("/images/#{album.image_path}")}"}

.edit
  %a.item{href: "#{url_for("/admin/artist/#{artist.id}")}"}
    Edit
:javascript
  keypress_disable=true;
  var container = document.querySelector('.albums');
  var msnry = new Masonry( container, {
    // options
    columnWidth: 200,
    itemSelector: '.item'
  });
  imagesLoaded(container, function() {
    msnry.layout();
  });
