.row
  .col-xs-12.albums
    =haml :"partials/artist", locals: { artist: artist }
    .item.item-x3#summary
    -artist.albums.each do |album|
      =haml :"partials/album", locals: { album: album}
.edit
  %a.item{href: "#{url_for("/admin/artist/#{artist.id}")}"}
    Edit
:javascript
  keypress_enable=false;
  summary_loaded=false;
  images_loaded=false;
  $(document).attr("title", "#{artist.name}");
  $('.navbar-info').html("<span class='artist-title'>#{artist.name}</span>");
  var container = document.querySelector('.albums');
  var msnry = new Masonry( container, {
    // options
    columnWidth: 200,
    itemSelector: '.item'
  });
  imagesLoaded(container, function() {
    images_loaded = true;
    masonrize();
  });

  $(document).ready(function() {
    get_summary(#{artist.id});
  });

  function masonrize() {
    if(images_loaded && summary_loaded) {
      msnry.layout();
    }
  }

  function get_summary(id) {
    $.getJSON("#{url_for("/artist/#{artist.id}/summary")}")
    .done(function(data) {
        $('#summary').append("<div class='summary'><p class='text'>" + data.summary + "</p>");
        $('#summary').append("<div class='links'><a target='_' href='" + data.url + "'>wikipedia</a></div></div>");
        summary_loaded = true;
        masonrize();
      })
    .fail(function(data) {
      $('#summary').fadeOut();
      summary_loaded = true;
      masonrize();
      });
  }
