%a{href:"#{url_for("/logs/#{prev}")}"}
  <<
%a{href:"#{url_for("/logs/#{nxt}")}"}
  >>
.artist
  =artist.name
.albums
  -albums.each do |album|
    %a.item{href: "#{url_for("/album/#{album.id}")}"}
      %img.artist{title: "#{album.title}", src: "/images/#{album.image_path}"}

.edit
  %a.item{href: "#{url_for("/admin/artist/#{artist.id}")}"}
    Edit
:javascript
  var container = document.querySelector('.albums');
  var msnry = new Masonry( container, {
    // options
    columnWidth: 200,
    itemSelector: '.item'
  });
  imagesLoaded(container, function() {
    msnry.layout();
  });
