<!DOCTYPE html>
%html
  %head
    %title#title
      #{@title}
    %meta{:charset => "utf-8"}
    %meta{:name => "viewport", :content=>"width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=0"}
    %meta{:name=>"apple-mobile-web-app-capable", :content=>"yes"}
    %link{:rel => "stylesheet", :href => "#{url_for '/css/default.css'}", :type => "text/css", :media => "screen" }
    %link{:rel => "stylesheet", :href => "#{url_for '/css/player2.css'}", :type => "text/css", :media => "screen" }
    %link{rel:"shortcut icon",href:"//patf.com/images/bemused.ico"}
    %script{:type => "text/javascript", :src => "#{url_for('/libs/jquery/dist/jquery.min.js')}"}
    %script{:type => "text/javascript", :src => "#{url_for '/js/navigation.js'}"}
    %script{:type => "text/javascript", :src => "#{url_for '/js/music-player/dist/player.js'}"}
    %script{:type => "text/javascript", :src => "#{url_for '/js/player-controls.js'}"}
    %script{:type => "text/javascript", :src => "#{url_for '/js/form_actions.js'}"}
    %script{:type => "text/javascript", :src => "#{url_for '/js/notifications.js'}"}
    %script
      //default is to enable keypress functions unless page opts out
      //var keypress_enable=true;
      var album_summary_available=false;
      var track_summary_available=true;
  %body
    %header.search-header
      %a.btn.logo{data: {"internal": "true"}, href:"#{url_for("/")}"}
        P&middot;Share
      .search-container
        %form{data: {"internal": "true"}, id: "search", action: "#{url_for("/search")}", method: "GET"}
          .form-group
            %input#q.search-input{data: {"internal": "true"}, type: "TEXT", name: "q", autofocus: true, placeholder: "Search for songs, artists, or albums..."}
      %span
        != haml :'partials/profile', locals: {user: current_user}.merge(locals)
    %main.main-content
      .content-container
        !=yield
    %footer.player-bar
      .now-playing
        %svg{width: "24", height: "24", fill: "none", stroke: "currentColor", viewBox: "0 0 24 24", xmlns: "http://www.w3.org/2000/svg"}
          %path{"stroke-linecap": "round", "stroke-linejoin": "round", "stroke-width": "2", d: "M9 19V6l12-3v13M9 19c0 1.105-1.343 2-3 2s-3-.895-3-2 1.343-2 3-2 3 .895 3 2zm12-3c0 1.105-1.343 2-3 2s-3-.895-3-2 1.343-2 3-2 3 .895 3 2zM9 10l12-3"}
        #track-info.track-info
          .track-artist
          .track-title
      .player
        #player-container
      %button.playlist-button{onclick: "togglePlaylist()"}
        %svg{width: "24", height: "24", fill: "none", stroke: "currentColor", viewBox: "0 0 24 24", xmlns: "http://www.w3.org/2000/svg"}
          %path{"stroke-linecap": "round", "stroke-linejoin": "round", "stroke-width": "2", d: "M4 6h16M4 10h16M4 14h16M4 18h16"}

      #playlist.playlist-panel
        .playlist-header
          %h2.playlist-title Current Playlist
          %button.playlist-clear{onclick: "if(confirm('clear playlist?')) {clearPlaylist()};"}
            X
        #tracklist

//%script{:type => "text/javascript", :src => "#{url_for '/js/keypress.js'}"}
:javascript
  window.player

  var myPlaylist;

  function album_summary(data) {
    $('#album_summary').append(data.summary);
    $('#album_summary').append("  <a target='_' href='" + data.url + "'>…more at wikipedia</a>");
  }

  function track_summary(data) {
    $('#track_summary').empty();
    $('#track_summary').append(data.summary);
    $('#track_summary').append("  <a target='_' href='" + data.url + "'>…more at wikipedia</a>");
  }

  function get_id(str) {
    return str.substring(str.lastIndexOf('/'));
  }

  document.addEventListener('DOMContentLoaded', () => {
    const audioElement = document.createElement('audio');
    const containerElement = document.getElementById('player-container');
    const playlistElement = document.getElementById('tracklist');

    window.player = new AudioPlayer([], audioElement, containerElement, playlistElement, {
      onTrackStart: (track) => {
        get_summary("#{url_for("/track")}" + get_id(track.url) + '/summary', track_summary, "track_summary_available", "#track_summary");
        notify(track);
        $(document).prop("title", track.title);
        setCurrent(track.artist, track.title);
        ensureClass('track-info', 'show');
      },
      onFiveSecondMark: (track) => {
        $.ajax({type: "GET", url: track.url.replace("stream","log")});
      },
      getTrackPrefix: (track, index) => {
        if(#{!current_user.nil?}) {
          var favorite_url = "#{url_for('/track/')}" + track.id + "/favorite";
          track.favorite_url= favorite_url;
          return build_favorites_entities(track);
        }
      }
    });

  });

  function enqueueTrack(track) {
    player.addTrack(track)
  }

  function setCurrent(artist_name, track_name) {
    setTextByClass("track-artist", artist_name);
    setTextByClass("track-title", track_name);
  }

  function setTextByClass(className, text) {
    const elements = document.getElementsByClassName(className);

    if (elements.length === 0) {
        console.warn(`No elements found with class '${className}'`);
        return 0;
    }

    for (let element of elements) {
        element.innerText = text;
    }

    return elements.length; // Returns number of elements updated
  }

  function togglePlaylist() {
    const playlist = document.getElementById('playlist');
    playlist.classList.toggle('show');
  }

  function toggleCurrent() {
    const trackInfo = document.getElementById('track-info');
    trackInfo.classList.toggle('show');
  }

  function clearPlaylist() {
    player.clearPlaylist();
    ensureClass("track-info", "show", true);
  }

  function ensureClass(elementId, className, isRemoved=false) {
    const element = document.getElementById(elementId);

    if (element) {
        if(isRemoved){
          if (element.classList.contains(className)) {
              element.classList.remove(className);
          }
          return true;
        } else {
          if (!element.classList.contains(className)) {
              element.classList.add(className);
          }
          return true;
        }
    } else {
        console.warn(`Element with id '${elementId}' not found`);
        return false;
    }
  }
}


