<!DOCTYPE html>
%html
  %head
    %title#title
      #{@title}
    %meta{:charset => "utf-8"}
    %meta{:name => "viewport", :content=>"width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=0"}
    %meta{:name=>"apple-mobile-web-app-capable", :content=>"yes"}
    %script{:type => "text/javascript", :src => "#{url_for('/libs/jquery/dist/jquery.min.js')}"}
    %link{:rel => "stylesheet", :href => "#{url_for '/css/default.css'}", :type => "text/css", :media => "screen" }
    %link{:rel => "stylesheet", :href => "#{url_for '/css/player2.css'}", :type => "text/css", :media => "screen" }
    %link{rel:"shortcut icon",href:"//patf.com/images/bemused.ico"}
    %script{:type => "text/javascript", :src => "#{url_for '/js/navigation.js'}"}
    %script{:type => "text/javascript", :src => "#{url_for '/js/music-player/dist/player.js'}"}
    //%script{type: "text/javascript", src: "#{url_for "/libs/masonry/dist/masonry.pkgd.js"}"}
    //%script{type: "text/javascript", src: "#{url_for "/libs/imagesloaded/imagesloaded.pkgd.min.js"}"}
    %script{type: "text/javascript", src: "#{url_for "/libs/devbridge-autocomplete/dist/jquery.autocomplete.min.js"}"}
    %script{:type => "text/javascript", :src => "#{url_for '/js/form_actions.js'}"}
    %script{:type => "text/javascript", :src => "#{url_for '/js/notifications.js'}"}
    %script
      //default is to enable keypress functions unless page opts out
      //var keypress_enable=true;
      var album_summary_available=false;
      var track_summary_available=true;
  %body
    %header.search-header
      %a{data: {"internal": "true"}, href:"#{url_for("/")}"}
        PShare
      .search-container
        %form{data: {"internal": "true"}, id: "search", action: "#{url_for("/search")}", method: "GET"}
          %input{type:"Hidden", id: "lookup_type", name: "lookup_type"}
          %input{type:"Hidden", id: "lookup_id", name: "lookup_id"}
          .form-group
            %input.search-input{data: {"internal": "true"}, type: "TEXT", id: "q", name: "q", autofocus: true, placeholder: "Search for songs, artists, or albums..."}
      %span
        != haml :'partials/profile', locals: {user: current_user}.merge(locals)
    %main.main-content
      .content-container
        !=yield
    %footer.player-bar
      .now-playing
        %svg{width: "24", height: "24", fill: "none", stroke: "currentColor", viewBox: "0 0 24 24", xmlns: "http://www.w3.org/2000/svg"}
          %path{"stroke-linecap": "round", "stroke-linejoin": "round", "stroke-width": "2", d: "M9 19V6l12-3v13M9 19c0 1.105-1.343 2-3 2s-3-.895-3-2 1.343-2 3-2 3 .895 3 2zm12-3c0 1.105-1.343 2-3 2s-3-.895-3-2 1.343-2 3-2 3 .895 3 2zM9 10l12-3"}
        .track-info
          .track-name Currently Playing
          .track-artist Artist Name
      .player
        #player-container
      %button.playlist-button{onclick: "togglePlaylist()"}
        %svg{width: "24", height: "24", fill: "none", stroke: "currentColor", viewBox: "0 0 24 24", xmlns: "http://www.w3.org/2000/svg"}
          %path{"stroke-linecap": "round", "stroke-linejoin": "round", "stroke-width": "2", d: "M4 6h16M4 10h16M4 14h16M4 18h16"}
        Playlist

      #playlist.playlist-panel
        %h2.playlist-title Current Playlist
        #tracklist

//%script{:type => "text/javascript", :src => "#{url_for '/js/keypress.js'}"}
:javascript
  window.player

  $('#q').autocomplete({
    serviceUrl: '#{url_for "/livesearch"}',
    paramName: 'q',
    minChars: 3,
    lookupLimit: 50,
    deferRequestBy: 100,
    autoSelectFirst: true,
    beforeRender: function(container, suggestions) {
      var i = 1;
    },
    onSelect: function (suggestion) {
      document.getElementById('lookup_type').value = suggestion.type;
      document.getElementById('lookup_id').value = suggestion.data;
      document.getElementById('search').submit();
    }
  });

  function togglePlaylist() {
    const playlist = document.getElementById('playlist');
    playlist.classList.toggle('show');
  }
  var myPlaylist;

  function album_summary(data) {
    $('#album_summary').append(data.summary);
    $('#album_summary').append("  <a target='_' href='" + data.url + "'>…more at wikipedia</a>");
  }

  function track_summary(data) {
    $('#track_summary').empty();
    $('#track_summary').append(data.summary);
    $('#track_summary').append("  <a target='_' href='" + data.url + "'>…more at wikipedia</a>");
  }

  function get_id(str) {
    return str.substring(str.lastIndexOf('/'));
  }

  document.addEventListener('DOMContentLoaded', () => {
    const audioElement = document.createElement('audio');
    const containerElement = document.getElementById('player-container');
    const playlistElement = document.getElementById('tracklist');

    window.player = new AudioPlayer([], audioElement, containerElement, playlistElement, {
      onTrackStart: (track) => {
      },
      onFiveSecondMark: (track) => {
      },
      getTrackPrefix: (track, index) => {
      }
    });

  });

  function enqueueTrack(track) {
    player.addTrack(track)
  }


