=haml :paging, locals: {model: model, base: "/logs"}
%table.table
  %thead
    %th
      Artist (id)
    %th
      Album (id)
    %th
      Title (id)
    %th
      Date
    %th
      IP Address
    %th
      Cookie
  %tbody
    -model[:data].each do |log|
      %tr
        %td
          - unless log.artist.nil?
            %a{href: "#{url_for("/artist/#{log.artist.id}")}"}
              #{log.artist.name} (#{log.artist.id})
        %td
          - unless log.album.nil?
            %a{href: "#{url_for("/album/#{log.album.id}")}"}
              #{log.album.title} (#{log.album.id})
        %td
          - unless log.track.nil?
            %a{href: "#{url_for("/admin/track/#{log.track.id}")}"}
              #{log.track.title} (#{log.track.id})
        %td
          #{log.created_at}
        %td
          #{log.ip_address}
        %td
          #{log.cookie}

:javascript
  $('.navbar-info').html("#{model[:data].count} log entries");
  $(document).ready(function() {
    $('#q').autocomplete('disable');
  });
