%meta{name: "page-script", content: url_for("/js/pages/album.js")}
.grid
  .twocol
    .col
      %img.fit-image{src: url_for("#{ENV["BEMUSED_DEV_PATH"]}/images/albums/#{playlist.image_path}")}
    .album-info
      .title
        =playlist.name
      .controls
        .btn
          %input{type: "button", value: "Play Now", onclick: "enqueueTracks([#{playlist.track_list(current_user)}], false, true)"}
        .btn
          %input{type: "button", value: "Play Next", onclick: "enqueueTracks([#{playlist.track_list(current_user)}], true, false)"}
        .btn
          %input{type: "button", value: "Add to Queue", onclick: "enqueueTracks([#{playlist.track_list(current_user)}], false, false)"}
        !=haml :"partials/player", locals: { admin_url: "#{url_for("/admin/playlist/#{playlist.id}")}" }
  .tracks
    -playlist.playlist_tracks.sort_by{ |t| t.order.to_i }.each do |track|
      !=haml :"partials/track", locals: {track: track.track, show_track_number: true, show_album: false, show_artist: false}
