.row
  .col-xs-12.col-md-offset-2.col-sm-6.col-lg-4.sp-top-sm#player
    =haml :"partials/player", locals: { admin_url: "#{url_for("/admin/playlist/#{playlist.id}")}" }
.row
  .col-xs-12.col-md-offset-2.col-sm-6.col-lg-4.sp-top-sm
    =haml :"partials/visualizer"
:javascript
  document.getElementById("image").style.background="url('#{url_for "/images/albums/" + (playlist.image_path || "")}')";
  document.getElementById("image").style.backgroundPosition="center";
  document.getElementById("image").style.backgroundSize="contain";
  document.getElementById("image").style.backgroundRepeat="no-repeat";
  //document.getElementById("content").style.minHeight="900px";

  var myPlaylist

  $(document).ready(function() {
    document.title = "#{playlist.name}";
    myPlaylist = new jPlayerPlaylist({
      jPlayer: "#jquery_jplayer_1",
      cssSelectorAncestor: "#jp_container_1"
    },
    [
      #{ playlist.track_list }
    ],
    {
      swfPath: "http://patf.net/js",
      supplied: "mp3",
      wmode: "window"
    });
  });

  $("#jquery_jplayer_1").bind($.jPlayer.event.play, function (event) {
      var current = myPlaylist.current,
          playlist = myPlaylist.playlist;
      $.each(playlist, function (index, obj) {
          if (index == current) {
            $.ajax({type: "GET", url: obj.mp3.replace("stream","log")});
            notify(obj);
            $('.navbar-info').html("                                   \
              <a href='#{url_for("/playlists")}' title='playlists'<span class='album-title'>playlists</span></a> >      \
              <a href='#{playlist.id.nil? ? "?" : url_for("/playlist/#{playlist.id}")}' title='#{playlist.name}'>      \
                <span class='album-title'>#{playlist.name}</span> \
              </a> >                                                    \
              <span class='track-title'>" + obj.title + "</span>");
            $(document).prop("title", obj.title);
          }
      });
  });

  $(document).ready(function() {
    $('.navbar-info').html("                        \
      <a href='#{url_for("/playlists")}' title='playlists'<span class='album-title'>playlists</span></a> >      \
      <a href='#{playlist.id.nil? ? "?" : url_for("/playlist/#{playlist.id}")}' title='#{playlist.name}'>      \
        <span class='album-title'>#{playlist.name}</span> \
      </a>");
  });
