%h3
  Artists
-artists.to_a.select{|artist| artist.albums.size > 0}.each do |artist|
  %a.item{href: "#{url_for "/artist/#{artist.id}"}"}
    %img.artist{title: "#{artist.name}", src: "#{url_for "/images/artists/#{artist.image_path}"}"}
%h3
  Albums
-albums.to_a.select{|album| album.tracks.size > 0}.each do |album|
  %a.item{href: "#{url_for "/album/#{album.id}"}"}
    %img.album{title: "#{album.title}", src: "#{url_for "/images/#{album.image_path}"}"}
:javascript
  var $container = $('#container');
  // init
  $(document).ready( function() {
    $container.isotope({
        // options
          itemSelector: '.item',
            layoutMode: 'fitRows'
    });
  });

  //var container = document.querySelector('.container');
  //var msnry = new Masonry( container, {
    // options
  //  columnWidth: 1,
  //  itemSelector: '.item'
  //});
