.row
  .col-xs-12.col-sm-6
    %table.table.table-condensed
      %thead
        %tr
          %th
            type
          %th
            Count
      %tbody
        %tr#artists
          %td.name
          %td.count
        %tr#albums
          %td.name
          %td.count
        %tr#tracks
          %td.name
          %td.count
        %tr#plays
          %td.name
          %td.count
.row
  .col-xs-12#logs
    %h2 Popular Tracks
    %div#tabs
      %ul.nav.nav-tabs{role: "tablist"}
        %li.active{role: "presentation"}
          %a{href: "#one_week", role: "tab", data: {toggle: "tag"}, aria: {controls: "one_week"}}
            One Week
        %li{role: "presentation"}
          %a{href: "#one_month", role: "tab", data: {toggle: "tag"}, aria: {controls: "one_month"}}
            One Month
        %li{role: "presentation"}
          %a{href: "#all_time", role: "tab", data: {toggle: "tag"}, aria: {controls: "all_time"}}
            All Time

      .tab-content
        .tab-pane.active#one_week{role: "tabpanel"}
          =haml :'partials/track_table', locals: {section: "one_week"}
        .tab-pane#one_month{role: "tabpanel"}
          =haml :'partials/track_table', locals: {section: "one_month"}
        .tab-pane#all_time{role: "tabpanel"}
          =haml :'partials/track_table', locals: {section: "all_time"}

:javascript
  $('#tabs a').click(function (e) {
    e.preventDefault()
    $(this).tab('show')
  });

  function populate_table(table, data, baseUrl) {
    for(i in data) {
      var track = data[i][0]; 
      var album = data[i][1]; 
      var artist = data[i][2]; 
      var plays = data[i][3];
      table.append("<tr><td><a href='" + baseUrl + "album/" + album.id + "'>" + track.title + "</a></td><td><a href='" + baseUrl + "artist/" + artist.id + "'>" + artist.name + "</td><td>" + plays + "</td></tr>");
    }
  }

  function set_albums(data) {
    var props = data.props;
    $("#albums").find($(".name")).text(data.type);
    $("#albums").find($(".count")).text(props.count);
  }

  function set_tracks(data) {
    var props = data.props;
    $("#tracks").find($(".name")).text(data.type);
    $("#tracks").find($(".count")).text(props.count);
  }

  function set_logs(data) {
    var baseUrl = "#{url_for('/')}";
    var props = data.props;
    $("#plays").find($(".name")).text("Plays");
    $("#plays").find($(".count")).text(props["all_time"].count);
    populate_table($("#all_time").find("#tracks"), props["all_time"]["popular"], baseUrl);
    populate_table($("#one_month").find("#tracks"), props["one_month"]["popular"], baseUrl);
    populate_table($("#one_week").find("#tracks"), props["one_week"]["popular"], baseUrl);
  }

  function set_artists(data) {
    var props = data.props;
    $("#artists").find($(".name")).text(data.type);
    $("#artists").find($(".count")).text(props.count);
  }
                          
  $(document).ready(function() {
    get("#{url_for('/stats/albums')}", set_albums, null);
    get("#{url_for('/stats/artists')}", set_artists, null);
    get("#{url_for('/stats/tracks')}", set_tracks, null);
    get("#{url_for('/stats/logs')}", set_logs, null);
  });
