%div.container#content2
  .row
    .col-xs-8
      %table.table#tracklist
        %thead
          %th
          %th
            Title (id)
          %th
            Artist (id)
          %th
            Album (id)
        %tbody
          -num=0
          -tracks.each do |track|
            -num+=1
            %tr
              %td
                =num
              %td
                %a{href: "#{url_for("/admin/track/#{track.id}")}"}
                  #{track.title} (#{track.id})
              %td
                -unless track.album.nil? || track.album.artist.nil?
                  %a{href: "#{url_for("/artist/#{track.album.artist.id}")}"}
                    #{track.album.artist.name} (#{track.album.artist.id})
              %td
                -unless track.album.nil?
                  %a{href: "#{url_for("/album/#{track.album.id}")}"}
                    #{track.album.title} (#{track.album.id})
    -unless tracks.empty?
      .row
        .col-xs-4
          !=haml :"partials/player", locals: { admin_url: nil }
:javascript
  $('#search').prop('action', "#{url_for('/tracks')}");
  $('.navbar-info').html("#{tracks.count} tracks");
  $(document).ready(function() {
    $('#q').autocomplete('disable');
  });

  document.addEventListener('DOMContentLoaded', () => {
    document.title = "#{album.title}";
    const playlist = [#{album.playlist}];

    new AudioPlayer(playlist, 'player-container', {
      onTrackStart: (track) => {
        $.ajax({type: "GET", url: track.url.replace("stream","log")});
        notify(track);
        $(document).prop("title", track.title);
        $('.navbar-info').html("<span class='track-title'>" + track.title + "</span>");
        },
      onFiveSecondMark: (track) => console.log('5 seconds into track:', track.title)
    });

  });
